/**Color bg #5b8ba1;
purple#361536:
**/
*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.ima-ge{
    width: 100%;
}
.post-image{
width: 350px;
top:50px;

}
p{
    font-size: 18px;
    color:#506626;
}
/* height:100vh;
    background-image:url(./images/bc-image\ \(6\).jpg);
    background-size: cover;
    background-position: top;
    */
.header{
    height:100vh;
    position: relative;
    background-image:url(./images/HeaderImg.jpg);
    background-position: top;
    background-size: cover;
    color:#d4aa04;
}
.header >nav a{
    color:#d4aa04;
    font-size: 30px;
    font-weight: 400;
    font-family: "IBM Plex Serif", serif;
}
.div-card{
background-color: #fff;
}
section{
    color:#506626;
}
body{
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    
}
.header-call-action{
    font-family: "IBM Plex Serif", serif;
    justify-content: center;
    display: block;
    text-align: center;
    font-size: 46px;
    align-items: center;
    top: 40%;
    overflow: hidden;
}
.header-call-action a{
    text-decoration: none; 
    color:#e8ebe3;
    background-color: black;
    border-style: double;
}
.container,section{
    line-height: 1.6;
    letter-spacing: .15em;
    initial-letter-align: .25em;
}

.h1{
    display:block;
    text-align: center;
    font-family: "Great Vibes", cursive;
}
.footer{
    width:100%;
    background-image:url(./images/dots.jpg);
    background-position: top;
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    justify-content: center;
    font-size: 46px;
    display: flex;
    height: 75px;
    color:#d4aa04; 
}
.footer p, a {
    text-decoration: none;  
    color:#d4aa04; 
    font-size: 26px;
}


/*-- Bellow needs to organize
@media(min-width:576px){
    body{
      background:#;        }
  }
  /* `md` applies to small devices (landscape phones, less than 768px) */
  /*@media(min-width:768px){
    body{
      background:#);        }
  }
  /* `lg` applies to medium devices (tablets, less than 992px) */
 /* @media(min-width:992px){
    body{
      background:#;        }
  }
  /* `xl` applies to large devices (desktops, less than 1200px) */
  /*@media(min-width:1200px){
    body{
      background:#;        }
  }
  /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
  /*@media(min-width:1400px){
    body{
      background: rgb(153, 118, 148);        }
  } 